body {
    display: flex;
    justify-content: center;
}

.App {
    text-align: center;
    width: 25vw;
    background-color: #282c34;
    height: 600px;
    border-radius: 50px;
    color: cadetblue;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.playPause {
    position: relative;
    top: 220px;
    cursor: pointer;
}

.containerApp {
    display: flex;
    height: 400px;
    align-items: flex-end;
    justify-content: space-around;
}

.outputContainer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.output {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: cadetblue;
    color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 45px;
    height: 45px;
    background-color: cadetblue;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #282c34;
    cursor: pointer;
    border-color: transparent;
}